.imagen_galeria {
    width: 100%;
    transition: box-shadow 1s, scale 1s, border-radius 1s;
  }

  .imagen_galeria:hover {
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.75);
    scale: 1.01;
    border-radius: 4px;
  }

  .row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
  }

  .column {
    flex: 25%;
    padding: 5px;
  }

  .column img {
    margin-top: 5px;
  }

  .grid-gallery {
    padding: 2rem;
  }

  @media (max-width: 800px) {
    .column {
      flex: 50%;
    }
  }

  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }